.home-page {
  height: 100vh;
  margin-top: 6.3rem;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}

.home-content {
  margin-top: 10rem;
}

.change-text {
  margin-top: 1rem;
  color: #0f0;
}

.rails-container {
  position: relative;
}

.rails-logo {
  position: absolute;
  top: -3.6rem;
  left: 7rem;
  opacity: 0.3;
}

.home-subtitle {
  margin-top: 2rem;
  color: black;
}

.change-text-color {
  color: #0f0;
}

.home-text-content {
  margin-top: 1rem;
  max-width: 50rem;
  line-height: 50px;
}

.social-media-container {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.social-media-icons {
  width: 40px;
  height: 40px;
  color: #0f0;
}

.social-links {
  color: #0f0;
}

.social-links:hover {
  color: black;
}

.my-photo {
  max-height: 20rem;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 0.5rem #0f0;
}
